body{
	background: #000;
	margin-top: 0;
	font-size: 10pt;
	font-family: Terminal Dosis;
	color: #fff;
	z-index: 1;
}
#clock{
	float: right;
	margin-right: 1%;
}
#user{
	float: right;
	margin-right: 1%;
}
#tbr{
	position: static;
	height: 20px;
	width: 100%;
	border-bottom: 1px solid white;
	text-transform: uppercase;
}
#sptst {
	padding:0px 0px 0px 100px;
	display:none;
	height: 100px;
	width: 300px;
	margin-left: -90px;
}
#sptst .new{
	opacity: 0;
}
#sptst .div_opacity{
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  opacity: 1;
}
#overlay .overlay{
	position: fixed;
	display: none;
	background:rgba(51, 51, 51, 0.82);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 90;
}
#popup{
	top: 20px;
    left: 0;
    right: 0;       
    margin: auto;
    width: 50%;
	height: auto;
    position: absolute;
	padding: 5px;
    border: 1px solid #fff;
    background: rgba(0,0,0,0.75);
    z-index: 89;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	text-align: center;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: .5s ease-in-out;
}
.log{
	text-align: left;
	padding-left: 15px;
}
  /*Меню*/
nav{
	display: table;
	margin: 0;
	cursor: default;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu:after{
	content: "";
	display: table;
	clear: both;
}
.menu > li{
	float: left;
	position: relative;
}
.menu > li > p, a{	
	font-size: 10pt;
	margin: 0;
	padding-right: 5px
}
.colormenu-link:after{
	content: "\f107";
}
.colormenu{
	background: rgba(0,0,0,0.8);
	position: absolute;
	font-size: 10pt;
	z-index: 5;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: .5s ease-in-out;
}
.colormenu p, a{
	text-align: left;
}
.colormenu li:last-child p, a{
	border-bottom: none;
}
.menu > li:hover .colormenu{
	opacity: 1;
	transform: scaleY(1);
}
/*alert*/
#alertm_all{
	width:163px;
	height:40px;
	position: absolute;
	top: 21px;
	right: 9.4%;
	background-color: #000;
	border: 1px solid;
	border-color: #fff;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	border-top: 0px;
	padding: 3px;
	
}
.alertm_all a{
	-webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: #0275d8;
}
.alertm_all a:hover{    
	color: #222;
}
.alertm_h1{    
	color: #0275d8;
    font-size: 19px;
}
.alertm_wrapper{
	color: #000;
}
.alertm_but{
    text-align: center;
    cursor: pointer;	
}
