body {
	background: #000000;
	background-image: url(css/gear.png);
}
#clock {
	color: #ffffff;
	font-size: 10pt;
	font-family: Terminal Dosis;
	float: right;
	margin-right: 1%;
}
p {
	color: #ffffff;

}
.tbr {
	height: 20px;
	width: auto;
	border-bottom: 1px solid white;
}
#sptst {
	padding:0px 0px 0px 100px;
	display:none;
	color: #ffffff;
	height: 100px;
	width: 300px;
	font-family: Terminal Dosis;
	margin-left: -90px;
}
#sptst .new {
	opacity: 0;
}
#sptst .div_opacity {
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  opacity: 1;
}
  /*Меню*/
nav {
	display: table;
	margin: 0;
	float: right;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu:after {
	content: "";
	display: table;
	clear: both;
}
.menu > li {
	width: 25%;
	float: left;
	position: relative;
	font-family: Terminal Dosis;
}
.menu > li > p {
	text-transform: uppercase;
	font-size: 10pt;
	color: #ffffff;
	
}
.colormenu-linl:after {
	content: "\f107";
}
.colormenu {
	background: #273037;
	position: absolute;
	left:0;
	top: 100%;
	z-index: 5;
	width: 180px;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: .5s ease-in-out;
}
.colormenu li:last-child p {
	border-bottom: none;
}
.menu > li:hover .colormenu {
	opacity: 1;
	transform: scaleY(1);
}