body{
	background: #000000;
}
#clock{
	color: #ffffff;
	font-size: 10pt;
	font-family: Terminal Dosis;
	float: right;
	margin-right: 10px;
}
p{
	color: #ffffff;

}
.tbr{
	height: 20px;
	width: auto;
	border-bottom: 1px solid white;
}
#sptst{
	color: #ffffff;
	height: 100px;
	width: 300px;
	font-family: Terminal Dosis;
	margin-left: -90px;
}
#sptst{padding:0px 0px 0px 100px;display:none;}
#sptst .new{opacity: 0;}
#sptst .div_opacity{
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  opacity: 1;
  }